@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", sans-serif;
  color-scheme: light;
  --animate-duration: 800ms;
  --animate-delay: 0.8s;
}

html {
  scroll-behavior: smooth;
}

.funcDesc {
  --animate-delay: 1.2s;
}

.logo {
  height: 150px; /* Adjust the height as needed */
  width: auto; /* Maintain aspect ratio */
}
